.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  margin-top: 20px;
  background-color: white;
  z-index: 100;
  width: 90%;
  border-radius: 30px;
}

.header_center {
  display: flex;
  align-items: center;

  /* flex: 1; */
  /* max-width: fit-content; */
  padding: 10px;
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 999px;
  width: 100%;
  border: 3px solid #bdbdbd;
}
.header_center > input {
  border: none;
  width: 100%;
  padding: 4px;
  /* // on active input box to remove border */
  outline-width: 0;
  font-size: 1.2rem;
}
